<footer>
    <div class="f-info">
        
        <div class="logo">
            <div>EventHive</div>
            <p>Bringing Every Event to Life.</p>
            <p>&copy; 2025</p>
        </div>
        <div class="quick-links">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Browse Events</a></li>
              <li><a href="#">Create Event</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="f-socials">
            <h3>For Organizers</h3>
            <ul>
              <li><a href="#">Create Management Tips</a></li>
              <li><a href="#">Partner with Us</a></li>
            </ul>
      
          
            <div>
              <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="terms-policy" >
            <h3>Legal</h3>
            <ul>
              <li><a href="#" >Privacy Policy</a></li>
              <li><a href="#" >Terms & Conditions</a></li>
              <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
</footer>