<% layout('/layouts/boilerplate.ejs') %>
<body>
    <h3>All Events</h3>
    <!-- <form method="get" action="/events/new">
        <button>Create Events</button>
    </form> -->
    <% for(let event of allEvents) { %>
    <div class="card" style="width: 18rem;">
        <img src="<%= event.image %>" class="card-img-top" alt="event_image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <%}%>
    <% for(let event of allEvents) { %>
        <li><a href="/events/<%= event._id %>"><%= event.title %></a></li>

    <%}%>
</body>


