<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHive</title>
</head>
<body>
    <h3>All Events</h3>
    <form method="get" action="/events/new">
        <button>Create Events</button>
    </form>
    <% for(let event of allEvents) { %>
        <li><a href="/events/<%= event._id %>"><%= event.title %></a></li>

    <%}%>
</body>
</html>

