<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <h3>All listings</h3>
    <% for(let event of allEvents) { %>
        <li><a href="/events/<%= event._id %>"></a><%= event.title %></li>

    <%}%>
</body>
</html>

