<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHive</title>
</head>
<body>
    <h3>Create an Event</h3>
    <form method="post" action="/events">
        <input name="event[title]" placeholder="enter title">
        <br>
        <textarea name="event[description]" placeholder="enter description"></textarea>
        <br>
        <input name="event[date]" placeholder="enter date" type="date">
        <br>
        <input name="event[time]" placeholder="enter time" type="text">
        <br>
        <input name="event[category]" placeholder="enter category" type="text">
        <br>
        <input name="event[location]" placeholder="enter location" type="text">
        <br>
        <input name="event[image]" placeholder="enter image url" type="text">
        <br>
        <input name="event[price]" placeholder="enter price" type="number">
        <br>
        <input name="event[attendeeCount]" placeholder="enter attendeeCount" type="number">
        <button>Create</button>
        
       

    </form>
</body>
</html>