<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHive</title>
</head>
<body>
    <h3>Create an Event</h3>
    <form method="post" action="/events">
        <input name="title" placeholder="enter title">
        <br>
        <textarea name="description" placeholder="enter description"></textarea>
        <br>
        <input name="date" placeholder="enter date" type="date">
        <br>
        <input name="time" placeholder="enter time" type="time">
        <br>
        <input name="category" placeholder="enter category" type="text">
        <br>
        <input name="location" placeholder="enter location" type="text">
        <br>
        <input name="image" placeholder="enter image url" type="text">
        <br>
        <input name="price" placeholder="enter price" type="number">
        <br>
        <input name="attendeeCount" placeholder="enter attendeeCount" type="number">
        <button>Create</button>
        
       

    </form>
</body>
</html>